@import '@themes/themeVariables.scss';

.book-reviewed__main-container {
  height: 100%;
  width: 100%;
  padding: 0 1rem;

  .book-reviewed__list-container {
    padding-bottom: 1.5rem;

    .ant-list-item {
      &:last-child {
        border: none !important;
      }

      .ant-list-item-meta-avatar {
        margin-right: 2rem;
        .book-image__container {
          height: 180px;
          width: 120px;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
        }
      }

      .book-title {
        &:hover {
          color: $primary-color;
        }
        margin: 0;
        display: inline-block;
        vertical-align: bottom;
        color: $subheading-text-color1;
        cursor: pointer;
      }

      .book-author {
        font-size: 16px;
        color: $subheading-text-color2;
      }

      .ant-list-item-extra {
        margin: 0;
        .book-rating-comparison__container {
          height: 100%;
          width: 300px;
          padding: 0 1rem;
        }
      }
    }
  }
}
