@import '@themes/themeVariables.scss';

.navigation-btn__container {
  .navigation-btn {
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 40px;
    background: $secondary-button-color;

    i {
      display: flex;
      justify-content: center;
      font-size: 30px;
      color: $primary-background-color;
    }
  }
}
