@import '@themes/themeVariables.scss';

.book-descriptions__main-container {
  .book-description__basic-details {
    margin-bottom: 1rem;
  }

  .book-rating__container {
    margin: 1rem 0;

    .rating-star {
      margin: 0 0.5rem;
      color: $red-orange;
    }

    .rating-value-text {
      margin: 0 0.5rem;
      font-size: 16px;
      color: $primary-background-color;
    }

    .review-count {
      margin-left: 1.5rem;
      font-size: 16px;
      color: $primary-background-color;

      .review-icon {
        margin-right: 0.5rem;
        font-size: 20px;
        color: $primary-background-color;
      }
    }
  }

  .book-purchase__btn-group {
    margin: 1rem 0;
    padding: 4px;
    display: inline-block;
    border: solid 1px $light-purple;

    & * {
      font-size: 16px;
      font-weight: 800 !important;
    }

    .book-purchase__title {
      padding: 0 1.5rem;
      color: $light-purple;
    }

    .book-purchase__btn {
      margin: 0 0.5rem;
      padding: 0 2rem;
      border-radius: 0;
      border: none;
      background: $light-purple;
    }
  }

  .book-genre-tags__container {
    .book-genre-tag {
      margin-bottom: 8px;
      padding: 6px 12px;
      background: $secondary-color;
      border: none;
      font-size: 14px;
    }
  }
}
