@import '@themes/themeVariables.scss';

.user-avatar__container {
  height: 220px;
  width: 215px;
  display: inline-block;

  .avatar-circle {
    &:before {
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      border: 10px solid;
      border-radius: 50%;
      border-color: $secondary-color $secondary-color $primary-background-color
        $primary-background-color;
      transform: rotate(-45deg);
    }

    height: 148px;
    width: 148px;
    margin: 0 2rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .user-icon {
      color: $primary-color;
      background-color: transparent;
    }
  }

  .user-membership-details__container {
    .username {
      margin-bottom: 0;
      text-align: center;
      color: $primary-color;
    }

    .user-join-date {
      display: block;
      text-align: center;
    }
  }
}
