@import '@themes/themeMixins.scss';

.user-page__container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .user-info-wrapper {
    width: 100%;
  }

  .user-book-list-wrapper {
    display: flex;
    flex: 1 0;
    @include overflowScrollY();
    @include chromeCustomScrollbar();
  }
}
