@import '@themes/themeVariables.scss';

.user-review__container {
  margin: 2rem 0;

  .user-review-rating__container {
    height: 30px;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;

    .user-review-rating-header {
      font-size: 16px;
    }
  }

  .user-review__input-container {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 23px;
    border: solid 1px $secondary-border-color;
    background: $form-background-color;
    resize: none;

    &:focus {
      background: $secondary-color;
    }
  }

  .user-review__submit-btn {
    height: 45px;
    width: 180px;
    background: $primary-background-color;

    & {
      font-weight: 800;
      color: white;
    }

    &:hover {
      background: $primary-color;
    }
  }

  .user-review__placeholder-container {
    width: 100%;
    padding: 2rem;
    border: 1px solid $primary-border-color;
    border-radius: 23px;

    .user-review-placeholder-icon__container {
      text-align: center;
      margin-bottom: 0.5rem;
      .user-review-placeholder-icon {
        font-size: 40px;
        color: $primary-background-color;
      }
    }

    .user-review-placeholder-title {
      text-align: center;
    }
  }
}
